#myDiv{
	text-align:center;
	border: solid 1px black;
}

#source{
	border: solid 1px black;
}

#template{
	border: solid 1px black;
}

#meme{
	border-radius: 20px;
	box-shadow: 10px 10px 10px #333;
	background-color: #369;
	width:60%;
	margin:20px;
}

#meme-img{
	border-radius: 20px;
}

#error-prints{
	position:absolute;
	left:20px;
	top:150px;
	color:white;
	font-family:Comic Sans MS;
	text-align: left;
	width:300px;
}

#contador{
	position:absolute;
	right:0px;
	top:0px;
	color:white;
	font-family:Comic Sans MS;
	text-align: left;
	width:300px;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(112, 146, 190, 0.7); /*can be anything, of course*/
}

body{
	background: url("rage.jpg");
/*	background-attachment: fixed; */
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position:fixed;
}

#small-loading {
	
	display:none;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.facebook-button{
    
	margin:0px;
	padding:0px;
    overflow: hidden;
    background-color: #369;
	width:100%;
	display: inline-block;
    color: #f2f2f2;
	font-family: Comic Sans MS;
    text-align: center;
    transition: 0.3s;
    font-size: 24px;
	border-radius: 20px;
}

.facebook-button:hover{
	background-color: #963;
	color: #f2f2f2;
}

 /* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #369;
}

/* Float the list items side by side */
ul.topnav li { 
	 float: left; 
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
	font-family: Comic Sans MS;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #963;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}